
.banner {
  padding: 15px;
  text-align: center;
  background-color: navy;
}

#byline {
  font-size: 10px;
  font-style:italic;
}

body {
background-color: White;

}


h1{
  font-style: normal;
  font: Georgia;
  font-size: 22px;
}

h2{
  font-style: italic;
  font: Georgia;
  font-size: 16px;
}

p {
  font-style: normal;
  font: Helvetica Arial sans-serif;
  font-size: 12px;
}
